<!doctype html>
<html lang="pt-br">
	<head>
		<% include include/head.ejs %>
	</head>
	<body>
		<header id="navbar">
		<% include include/navbar.ejs %>
		</header>
		<main class="back">
			<div class="card col-sm-5 ml-5 my-5">
			  <div class="card-body">
			    <h5 class="card-title">About</h5>
			    <p class="card-text text-justify">Inspired by <a target="_blank" href="https://tree-map.nycgovparks.org">New York City Street Tree Map</a> and <a target="_blank" href="http://frutaspoa.inga.org.br">Projeto Pró-Frutas Nativas de Porto Alegre</a> this project has the intention to map fruit and medicinal plants on the public roads of Porto Alegre.</p>
			    <p class="card-text text-justify">This project intends to provide information about the local flora and contribute to the local environmental education. Also, we believe that if you don't know your city, you cannot help to improve it, thus the data used on this application is free for general proposes and can be downloaded.</p>
			    <p class="card-text text-justify">The source code can be found <a target="_blank" href="https://github.com/jobedylbas/freetrees">here</a>.</p>
			  </div>
			</div>
		</main>
	</body>
</html>