<!doctype html>
<html lang="pt-br">
	<head>
		<% include include/head.ejs %>
	</head>
	<body>
		<header id="navbar">
		<% include include/navbar.ejs %>
		</header>
		<main class="back">
			<div class="card col-sm-5 ml-5 my-5">
			  <div class="card-body">
			    <h5 class="card-title">About</h5>
			    <p class="card-text text-justify">Inspirado pela <a target="_blank" href="https://tree-map.nycgovparks.org">New York City Street Tree Map</a> e <a target="_blank" href="http://frutaspoa.inga.org.br">Projeto Pró-Frutas Nativas de Porto Alegre</a> este projeto tem a intenção de mapear as plantas frutíferas nas ruas de Porto Alegre.</p>
			    <p class="card-text text-justify">Esse projeto também procura promover informações sobre a flora local assim contribuindo para a educação ambiental. Além disso, acreditando que se você não conhece sua cidade, você não consegue melhora-lá, logo, os dados utilizados nessa aplicação são livres e podem ser baixados <a target="_blank" href="/download"> aqui</a> em formato CSV.</p>
			    <p class="card-text text-justify">E o código fonte pode ser achado <a target="_blank" href="https://github.com/jobedylbas/freetrees">aqui</a> 😊.</p>
			  </div>
			</div>
		</main>
	</body>
</html>