<!doctype html>
<html lang="pt-br">
	<head>
		<% include include/head.ejs %>
	</head>
	<body>
		<header id="navbar">
		<% include include/navbar.ejs %>
		</header>
		<main>
			<div id="map">
			</div>
		</main>

	</body>
</html>