<!-- <img id="" class="float-left" src=""> -->
<a id="plant-name" class="bold plant-name" href=<%= list.link %> target="_blank">
	<%= list.name %>
</a>
<p id="cientific-name" class="italic plant-cname">
	<%= list.cientificname %>
</p>

<p id="harvest-time" class="plant-info">
	Harvest time: <%= list.harvesttime %>
</p>