<!-- <img id="" class="float-left" src=""> -->
<a id="plant-name" class="bold plant-name text-center" href=<%= item.link %> target="_blank">
	<%= item.name %>
</a>
<p id="cientific-name" class="italic plant-cname">
	<%= item.cientificname %>
</p>