<!doctype html>
<html lang="pt-br">
	<head>
		<% include include/head.ejs %>
	</head>
	<body>
		<header id="navbar">
		<% include include/navbar.ejs %>
		</header>
		<main class="back">
			<div class="container-fluid">
				<div class="card col-xl-auto ml-4 mr-5 my-5">
				  <div class="card-body row">
				    <div class="col pl-0 text-justify">
				    	<h2 class="card-title">Stats</h2>
				    	<div class="card-text row">
				    		<div class="float-left" id="container-chart">
				    			<canvas class="stats-chart" id="plant-chart"></canvas>
				    		</div>
				    		<div class="col-sm float-right" id="plant-chart-info">
				    			<h3 class="plant-title" id="plant-name">Choose a plant</h3>
				    			<h4 class="text-muted plant-sciname" id="plant-sciname"><i></i></h4>
				    			<p class="plant-desc" id="plant-desc"></p>
				    			<a href="#" class="plant-wiki" id="plant-url" target="_blank"></a>
				    			<br /><br />
				    			<img class="d-none" src="#"> 
				    		</div>
					    </div>
				    </div>
				  </div>
				</div>
			</div>
		</main>
	</body>
</html>