html, body{
	height: 100%;
}

main{
	overflow: auto;
}

.back{
	background-image: url("../img/poa.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	height: 93%;
	-webkit-filter: brightness(90%) contrast(95%);
	filter: brightness(90%) contrast(95%);
}

.stats-chart{
	display: inline-block;
	width: 27rem !important;
	height: 27rem !important;
}

.plant-name{
	font-size: 1rem;
	margin-bottom: 0% !important;
}

.plant-cname{
	font-size: 0.8rem;
	margin-top: 0% !important;
	margin-bottom: 3% !important;
}

.plant-info{
	font-size: 0.8rem;
	margin-top: 10px !important;
}
