<nav class="navbar navbar-dark bg-dark navbar-expand">
  <a class="navbar-brand ml-4 mr-0 w-0" href="/">
    <img class="d-inline-block aling-top" src="public/img/leaf.png" width="30" height="30" alt="">
    FreeTrees
  </a>
  <ul class="list-inline nav navbar-nav mr-auto my-0 ml-5">
    <li id="home-link" class="list-inline-item nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li id="stats-link" class="list-inline-item nav-item">
      <a class="nav-link" href="/stats">Stats</a>
    </li>
    <li id="about-link" class="list-inline-item nav-item">
      <a  class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0 mr-5" id="search-form">
    <input class="form-control mr-sm-2" type="text" id="search-input" placeholder="Street, Avenue..." name="query">
    <button class="btn btn-success my-2 my-sm-0" id="search-btn">Search</button>
  </form>
</nav>
