<nav class="navbar navbar-dark bg-dark navbar-expand">
  <a class="navbar-brand ml-4 mr-0 w-0" href="/">
    <img class="d-inline-block aling-top" src="public/img/leaf.png" width="30" height="30" alt="">
    FreeTrees 
  </a>
  <ul class="list-inline nav navbar-nav mr-auto my-0 ml-5">
    <li class="list-inline-item nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/download">Download</a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/stats">Stats</a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="list-inline-item nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>

  </ul>
  <form class="form-inline my-2 my-lg-0 mr-5">
    <input class="form-control mr-sm-2" type="search" placeholder="Street, Avenue..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>